.homePageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 90vh;
}
.formWrapper{
  background: #131325;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
footer{
  position: fixed;
  bottom: 0;
}
footer a{
  color:#a483e6;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}
.mainlabel{
  margin-bottom: 20px;
  margin-top: 0;
}
.homePageLogo{
  height: 140px;
  margin-bottom: 15px;
}
.inputBox{
  padding: 8px;
  border-radius: 7px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}
.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.joinBtn{
  background: #a483e6;
  font-weight: bold;
  font-size: medium;
  width: 100px;
  margin-left: auto;
}
.joinBtn:hover{
  background: #763ceb;
}
.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}
.createNewBtn {
  color: #a483e6  ;
  text-decoration: none;
  border-bottom: 1px solid #a483e6;
  transition: all 0.3s ease-in-out;
}
.createNewBtn:hover, 
footer a:hover{
  color:#763ceb;
  border-color: #763ceb;
}
.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}
.aside{
  background: #131325;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}
.asideInner{
  flex: 1;
}
.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName{
  margin-top: 10px;
}
.logo{
  border-bottom: 1px solid #a483e6;
  padding-bottom: 10px;
}
.logoImage{
  height: 100px;
}
.leaveBtn{
  width:100%;
  margin-top: 20px;
  background: #a483e6;
}
.leaveBtn:hover{
  background: #763ceb;
}
.CodeMirror{
  min-height: calc(100vh -20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}